<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<base href="{{ .Site.BaseURL }}">
<title> {{ .Title }} &middot; {{ .Site.Title }}</title>
<link rel="canonical" href="{{ .Permalink }}">
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
{{ if .RSSlink }}<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/text.css">
<link rel="stylesheet" href="css/layout.css">
<link rel="stylesheet" href="css/menu.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/zenburn.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
