<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
	{{ partial "head" . }}
	<link rel="stylesheet" href="css/front.css">
</head>
<body>
	<header>
		{{ partial "header" . }}
		<nav>
			{{ partial "menu" .Site.Menus.main }}
		</nav>
	</header>
	<figure>
		<img src="img/frontImage.jpg"/>
	</figure>
	{{ range where .Data.Pages "Source.Path" "index.md" }}
	<article>
		<header><h1>{{ .Title }}</h1></header>
		<main>
		{{ .Content }}
		</main>
		<footer></footer>
	</article>
	{{ end }}
	<footer>
		{{ partial "footer" . }}
	</footer>
	{{ partial "foot" . }}
</body>
</html>
